<app-navbar></app-navbar>
<div class="main-panel">
    <app-sidebar></app-sidebar>
    <div class="form-edit">
        <div class="title-form">
            <h4>
                Thêm sản phẩm mới
            </h4>
        </div>

        <form [formControl]="addProduct" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">ID</label>
                <input type="number" [formControlName]="id" >
            </div>
            <div class="form-group">
                <label for="">Tên Sản Phẩm</label>
                <input type="text" [formControlName]="name">
            </div>
            <div class="form-group">
                <label for="">Giá Sản Phẩm</label>
                <input type="text" [formControlName]="cost">
            </div>
            <div class="form-group">
                <label for="">Mô tả chi tiết</label>
                <textarea rows="3" [formControlName]="description"></textarea>
            </div>
            <div class="form-group">
                <label for="">Chọn loại hàng</label>
                <input type="text" [formControlName]="type" >
                <!-- <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select> -->
            </div>
            <div class="event-form">
                <button class="btn btn-primary" type="submit" >Create</button>
                <button class="btn" type="reset" routerLink="/listProduct">Cancel</button>
            </div>
        </form>
    </div>
</div>