.navbar {
    padding: 0 !important;
    height: 62px;
    .navbar-brand-wrapper {
      background-color: #456BD8;
      padding: 9px 16px;
      width: 233px;
      height: 100%;
      a {
        color: #ffffff !important;
      }
    }

    .collapse {
      padding: 8px 20px;
      width: calc(100%-233px);
      background-color: #ffffff;
      height: 100%;
      box-shadow: 3px 3px 3px #ccc;
      .form-inline {
        .form-control {
          margin-right: 0 !important;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background-color: #F8F9FC;
          border: none;
        }

        button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: none;
          color: #ffffff;
          background-color: #456BD8;
        }
      }

      .navbar-nav {
        .user-dropdown{
          a{
            img{
              margin: 0 10px;
              width: 30px;
              height: 30px;
            }
          }
        }
        li {
          .count-indicator {
            position: relative;
            text-align: center;
            color: #ECEDF0 !important;

            span {
              position: absolute;
              left: 50%;
              width: 1rem;
              height: 1rem;
              border-radius: 100%;
              background: #FF0017;
              color: #ffffff;
              font-size: 11px;
              top: -1px;
              font-weight: 600;
              line-height: 1rem;
              border: none;
              text-align: center;
            }
          }
        }
      }
    }
  }
