.container-scroller {
  
  .main {
    padding-right: 0;
    padding-left: 0;
    padding-top: 58px;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 62px);
    .main-panel {

      background: #f1f2f6;
      padding: 25px 12px;
      width: calc(100%-233px);
      flex-grow: 1;

      .content-wrapper {


        .numbers {
          margin: 0;
          
          .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            h4 {
              font-weight: 400;
            }

            button {
              border: none;
              border-radius: 5px;
              padding: 7px;
              font-size: 14px;
              background-color: #456BD8;
              color: #ffffff;
            }
          }

          .monthly {
            border-left: solid #456BD8;
            h5 {
              color: #456BD8;
            }
            &:hover{
              cursor: pointer;
              background-color: #456bd8;
              color: #ffffff;
              h5 {
                color: #ffffff;
              }
            }
            
          }

          .annual {
            border-left: solid #76D6B5;

            h5 {
              color: #76D6B5;
            }
            &:hover{
              cursor: pointer;
              background-color: #76D6B5;
              color: #ffffff;
              h5 {
                color: #ffffff;
              }
            }
            
          }

          .tasks {
            border-left: solid #36B9CC;

            h5 {
              color: #36B9CC;
            }

            #pro {
              display: flex;
              align-items: center;

              .progress {
                margin-left: 10px;
                width: 20%;
                height: 8px;
              }
            }
            &:hover{
              cursor: pointer;
              background-color: #36B9CC;
              color: #ffffff;
              h5 {
                color: #ffffff;
              }
            }
            
          }

          .requests {
            border-left: solid #F6C233;

            h5 {
              color: #F6C233;
            }
            &:hover{
              cursor: pointer;
              background-color: #F6C233;
              color: #ffffff;
              h5 {
                color: #ffffff;
              }
            }
            
          }

          .tabs {
            border-radius: 5px;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            align-items: center;
            transition: 0.5s;
            &:hover{
              box-shadow: 5px 10px #888888;
            }
            .datas {
              h5 {
                text-transform: uppercase;

                font-size: 12px;
              }

              p {
                font-size: 20px;
                margin: 0;
              }
            }

            svg {
              font-size: 40px;
              color: #EDEFF0;
            }
          }
        }

        .charts {
          margin: 30px 0 0 0;

          .canvas-chart {
            border-radius: 5px;

            .title-charts {
              background-color: #F6F7FB;
              width: 100%;
              display: inline-flex;
              justify-content: space-between;
              align-items: center;
              padding: 15px 20px;

              h4 {
                color: #456BD8;
                font-size: 16px;
              }

              .chart-toolbar {

                a{
                  color: darkgrey;
                }

                ul {
                  position: absolute;
                  user-select: none;
                  cursor: pointer;
                  right: 0px;
                  top: 25px;
                  min-width: 120px;
                  outline: 0px;
                  font-size: 14px;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 5px 0px;
                  text-align: left;
                  line-height: 10px;
                  background-color: white;
                  box-shadow: rgb(136, 136, 136) 2px 2px 10px;
                  display: none;

                  li {
                    padding: 12px 8px;
                    background-color: white;
                    color: black;
                  }
                }
              }
            }

            #chartDoughnut{
              button{
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
}
