<div class="container-scroller">
    <app-navbar></app-navbar>
        <div class="container-fluid main">
        <app-sidebar></app-sidebar>

        <div class="main-panel">
            <div class="content-wrapper ">
                <div class="row numbers">
                    <div class="col-12">
                        <div class="title">
                            <h4>Dashboard</h4>
                            <button><i class="fas fa-download"></i> Generate Report</button>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="tabs monthly">
                            <div class="datas">
                                <h5>Earnings (monthly)</h5>
                                <p>$40,000</p>
                            </div>
                            <i class="fas fa-calendar"></i>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="tabs annual">
                            <div class="datas">
                                <h5>Earnings (annual)</h5>
                                <p>$215,000</p>
                            </div>
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="tabs tasks">
                            <div class="datas">
                                <h5>tasks</h5>
                                <div id="pro">
                                    <p>50%</p>
                                    <div class="progress progress-md">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 78%;"
                                            aria-valuenow="78" aria-valuemin="0" aria-valuemax="78"></div>
                                    </div>
                                </div>
                            </div>
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                    </div>
                    <div class="col-md-3  ">
                        <div class="tabs requests">
                            <div class="datas">
                                <h5>pending requests</h5>
                                <p>18</p>
                            </div>
                            <i class="fas fa-comments"></i>
                        </div>

                    </div>
                </div>

                <div class="row charts">
                    <div class="col-lg-8">
                        <div class="canvas-chart">
                            <div class="title-charts">
                                <h4>Earnings Overview</h4>

                                <div class="chart-toolbar">
                                    <a href=""> <i class="fas fa-ellipsis-v"></i> </a>
                                    <div tabindex="-1">
                                        <ul>
                                            <li>Print</li>
                                            <li>Save as JPEG</li>
                                            <li>Save as PNG</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="canvas-chart">
                            <div class="title-charts">
                                <h4>Earnings Overview</h4>
                                <div class="chart-toolbar">
                                        <a href=""> <i class="fas fa-ellipsis-v"></i> </a>
                                        <div tabindex="-1">
                                            <ul>
                                                <li>Print</li>
                                                <li>Save as JPEG</li>
                                                <li>Save as PNG</li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            <div id="chartDoughnut" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>