.main-panel {
  padding-top: 62px;
  display: flex;
  flex-direction: row;
  background-color: #F8F9FC;
  width: 100%;

  .form-edit {
    width: 40%;
    margin: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;

    .title-form {
      text-align: left;

      h4 {
        font-size: 18px;
        color: #6881A3;
        margin-bottom: 15px;
      }

    }

    form {
      display: flex;
      flex-direction: column;
      border-top: 1px solid;
      padding: 20px 0;
      .form-group {
        display: block;

        label {
          color: #AAC3E0;
        }

        input,
        textarea,
        select {
          width: 100%;
          border-radius: 5px;
          border: 1px solid #EBEDF2;
          background-color: #F7F8FA;
          padding: 3px 10px;
        }

        select{
            margin-bottom: 50px;
        }
      }

      .event-form {
          display: flex;
          padding-top: 30px;  
          border-top: 1px solid;    
        .btn {
          width: 100px;
          margin-right: 20px;
        }
      }
    }
  }
}
