.sidebar {
    background-color: #456BD8;
    width: 233px;
    min-height: calc(100vh - 62px);
    padding: 16px 0;

    .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      color: #ECEDF1;

      .nav-category {
        padding: 0 15px;
      }

      .nav-item {
        margin: 5px 0;
        font-size: 14px;

        .dashboard {

          span {
            margin-left: 10px;
          }
        }

        .nav-link {
          padding: 15px;
          color: #ECEDF1;
          display: flex;
          align-items: center;

          &:hover {
            background: #0f25d5;
          }

          span {
            margin-left: 10px;
          }

          svg:nth-of-type(2) {
            margin-left: auto;
          }
        }
      }
    }
  }