<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link dashboard" href="">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item nav-category">INTERFACE</li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false"
                    aria-controls="auth1">
                    <i class="fas fa-cog"></i>
                    <span class="menu-title">QL Sản Phẩm</span>
                    <i class="fas fa-angle-right"></i>
                </a>
                <div class="collapse" id="auth1">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/listProduct">Danh sách sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/newProduct">Thêm mới sản phẩm</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="fas fa-wrench"></i>
                    <span class="menu-title">QL Khách Hàng</span>
                    <i class="fas fa-angle-right"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">Danh sách khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">404</a>
                        </li>
                        
                    </ul>
                </div>
            </li>
        </ul>
</nav>
