.main-panel {
  padding-top: 62px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 58px;
  display: flex;
  flex-direction: row;
  
  .datatables {
    background-color: #F8F9FC;
    padding: 20px;
    font-size: 14px;
    min-height: calc(100vh - 62px);
    display: flex;
    flex-direction: column;
    // .titles {}

    .tables {
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 3px 3px 5px 6px #ccc;

      .name-tables {
        background-color: #E5E9F7;
        width: 100%;
        border-bottom: solid 1px #ccc;
        padding: 15px;

        h5 {
          color: #456bde;
          font-size: 16px;
          margin: auto;
        }
      }

      .tool-top {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        align-items: center;
        .search{
          button{
            border: none;
            background: none;
          }
          input{
            border: solid 1px #DEE2E6;
          }
      }
    }
      .table {
        width: calc(100% - 30px);
        margin: auto;
        tbody{
          tr{
            a{
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }

      .pagination {
        padding: 0 15px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
          display: flex;
          list-style-type: none;
          border: solid 1px #E5E9F7;
          border-radius: 5px;
          padding: 0;

          li {
            border: solid 0.5px #e5e9f7;
            padding: 2.5px;
          }
        }
      }
    }
  }
}
