<app-navbar></app-navbar>
<div class="container-fluid main-panel">
    <app-sidebar></app-sidebar>
    <div class="datatables" routerLink="/listProduct">
        <div class="titles">
            <h4>Tables</h4>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet ut quaerat laudantium minima asperiores
                explicabo,
                dignissimos et neque quibusdam deserunt tenetur quos nihil quis maiores numquam, veritatis sed iure
                repellendus.</p>
        </div>

        <div class="tables">
            <div class="name-tables">
                <h5>DataTables Example</h5>
            </div>
            <div class="list">
                <div class="tool-top">
                    <div class="show">
                        Show
                    </div>
                    <div class="search">
                        <form class="form-inline ">
                            <button class="" type="submit">Search</button>
                            <input class="" type="search" placeholder="" aria-label="Search">

                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Giá thành</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col">Loại sản phẩm</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listproduct | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td scope="row"><a href="/editProduct">{{item.name}}</a></td>
                                <td>{{item.cost}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.type}}</td>
                               
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <p>Showing 1 to 10 of 57 entries</p>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>